* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.top-box {
    height: 330px;
    background: url("background.jpg") center / cover no-repeat;
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.top-box h2 {
    font-size: 5rem;
}

.top-box p {
    font-size: 1.4rem;
    font-weight: 700;
    text-shadow: 2px 2px 10px goldenrod;
    margin-top: 18px;
}

.top-box .search-box {
    height: 35px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.top-box .search-box input {
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    padding: 0 10px;
}

.top-box .search-box button {
    height: 100%;
    width: 10%;
    border: none;
    outline: none;
    background-color: yellowgreen;
    font-size: 1.7rem;
    border-top-right-radius: 9px;
    cursor: pointer;
    border-bottom-right-radius: 9px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery .images {
    gap: 15px;
    max-width: 95%;
    margin-top: 40px;
    columns: 5 340px;
    list-style: none;
}

.gallery .images .card {
    display: flex;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 14px;
    border-radius: 4px;
}

.gallery .images img {
    width: 100%;
    z-index: 2;
    position: relative;
}

.gallery .loadmore {
    background-color: blue;
    color: white;
    margin: 50px 0;
    padding: 15px 25px;
    font-size: 1.2rem;
    border: 4px solid transparent;
    border-radius: 100px;
    font-weight: 600;
    transition: all .2s ease-in-out;
}

.gallery .loadmore:hover {
    color: blueviolet;
    background-color: white;
    border: 4px solid blue;
}

.light-box {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
}

.light-box .image-box {
    height: 80%;
    width: 50%;
    background-color: wheat;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.light-box .image-box .photograph {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
}

.light-box .image-box .photograph .icons {
    gap: 20px;
    display: flex;
    justify-content: space-around;
}

.light-box .image-box .photograph .icons i {
    cursor: pointer;
}

.light-box .image-box .prev-image {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-box .image-box .prev-image img {
    height: 100%;
    width: auto;
}

.show {
    animation: show-box .5s ease 0s 1 normal none;
}

.hide {
    animation: hide-box .5s ease 0s 1 normal none;
}

@keyframes show-box {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes hide-box {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}